<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="username" class="form-label">Username Or Email</label>
      <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Enter your username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>

    <asl-google-signin-button style="display: inline-block;"></asl-google-signin-button>
    <img src="../../../../assets/facebook.png" style="width: 32px; height: 32px; margin-inline: 10px; margin-bottom: 20px; cursor: pointer;" (click)="facebookLogin()">

    <button type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Login</button>
  </div>
  <div class="col-md-3"></div>
</div>