<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="username" class="form-label">Username Or Email</label>
      <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Enter your username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <div class="external-login">
    <asl-google-signin-button></asl-google-signin-button>
    <img src="../../../../assets/facebook.png" class="fb-login" (click)="facebookLogin()">
    </div>
    <div>
    <button type="submit" class="btn btn-primary btn-login" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Login</button>
    <a class="btn btn-forgot-psw" routerLink="/password-reset" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Forgot password</a>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>