
asl-google-signin-button{
    display: inline-block;
}

.fb-login{
    width: 35px;
    height: 35px;
    margin-inline: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-login{
    width: 100px;
    margin-bottom: 10px;
}
.btn-forgot-psw{
    width: 200px;
    float: right;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: rgb(192, 192, 192);
}