<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin" class="listitem"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item role="listitem" routerLink="customers" class="listitem"><mat-icon>people</mat-icon> Customers</a>
    <a mat-list-item role="listitem" routerLink="products" class="listitem"><mat-icon>inventory</mat-icon> Products</a>
    <a mat-list-item role="listitem" routerLink="orders" class="listitem"><mat-icon>assignment_turned_in</mat-icon>Orders</a>
    <a mat-list-item role="listitem" routerLink="" class="listitem">Go to website</a>
</mat-list>